{% extends 'shop/base.html' %}

{% block title %}О Компании{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- New Text Block -->
    <div class="about-text mb-5">
        <p><b>SimpleAdd</b> – надежный поставщик оборудования, запасных частей, расходных материалов и программного обеспечения для аддитивного производства.</p>

        <p>Мы помогаем нашим партнерам в подборе оборудования под необходимые цели и задачи, его доставку на территорию России и стран ЕАЭС под ключ, ввод в эксплуатацию, гарантийное и постгарантийное обслуживание.</p>

        <p>Многолетний опыт работы в сфере металлообработки, партнерские отношения с передовыми европейскими производителями и индивидуальный подход помогут разработать комплексное решение под Ваши производственные задачи.</p>

        <p>Мы уверены, что современные решения сэкономят Ваши деньги и время, а также сделают производственный процесс безопасным и удобным.</p>
    </div>

    <!-- Partners Section -->
    <h1 class="text-center mb-4">Наши партнеры</h1>
    <p class="text-center">Наши партнеры – это ведущие европейские производители, которые являются лидерами рынка в своем сегменте. Ниже Вы сможете познакомиться с каждым из них.</p>

    <div class="row mt-4">
        <!-- Partner 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="/static/icons/trumpf.png" alt="Partner 1" class="img-fluid mb-3">
                    <h5 class="card-title">TRUMPF</h5>
                    <p class="card-text">Крупнейший немецкий производитель принтеров для 3D печати.</p>
                </div>
            </div>
        </div>

        <!-- Partner 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="/static/icons/verfahres.png" alt="Partner 2" class="img-fluid mb-3">
                    <h5 class="card-title">IB Verfahrens- und Anlagentechnik</h5>
                    <p class="card-text">Немецкий производитель станций просеивания металлических порошков.</p>
                </div>
            </div>
        </div>

        <!-- Partner 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="/static/icons/bego.png" alt="Partner 3" class="img-fluid mb-3">
                    <h5 class="card-title">BEGO</h5>
                    <p class="card-text">Немецкий производитель стоматологической продукции, предлагающий металлический порошок из сплава CoCr.</p>
                </div>
            </div>
        </div>

        <!-- Partner 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="/static/icons/lpw.png" alt="Partner 4" class="img-fluid mb-3">
                    <h5 class="card-title">Carpenter Additive</h5>
                    <p class="card-text">Английский производитель порошков для аддитивного производства.</p>
                </div>
            </div>
        </div>

        <!-- Partner 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="/static/icons/lac.png" alt="Partner 5" class="img-fluid mb-3">
                    <h5 class="card-title">LAC</h5>
                    <p class="card-text">Чешский производитель печей для термообработки заготовок.</p>
                </div>
            </div>
        </div>

        <!-- Partner 6 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="/static/icons/oqton.png" alt="Partner 6" class="img-fluid mb-3">
                    <h5 class="card-title">OQTON</h5>
                    <p class="card-text">Инновационный поставщик решений для автоматизации производства.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}