{% extends 'shop/base.html' %}

{% block title %}{{ category.name }} - Категория{% endblock %}
{% block content %}
    <h2 class="mb-4">{{ category.name }}</h2>
    <div class="category-container">
        {% if category.image %}
            <div class="category-image">
                <img src="{{ category.image.url }}" alt="{{ category.name }}" class="img-fluid">
            </div>
        {% endif %}
        <div class="category-description">
            <p>{{ category.description }}</p>
        </div>
    </div>

    <h2>Подкатегории</h2>
    <div class="row g-4">
        {% for subcategory in subcategories %}
            <div class="col-md-4">
                <a href="{% url 'product_list' subcategory.id %}" class="card-link">
                    <div class="card h-100 text-center">
                        {% if subcategory.image %}
                            <img src="{{ subcategory.image.url }}" class="card-img-top" alt="{{ subcategory.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ subcategory.name }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <h2>Товары</h2>
    <div class="row g-4">
        {% for product in products %}
            <div class="col-md-4">
                <a href="{% url 'product_detail' slug=product.slug %}" class="card-link">
                    <div class="card h-100 text-center">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text text-muted">{{ product.description|striptags|truncatechars:80 }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}